@import "tailwindcss";

@layer utilities {
  .scbar::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }
  .scbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .scbar::-webkit-scrollbar-thumb {
    background: #2D333D;
    border-radius: 4px;
  }
  .scbar::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
}
